<div>

  <div class="main_container d-flex justify-content-between mt-5">
  
    <div class="only_title">
      <h2 class="main_title">Person management</h2>
      <p>Control of all person registered in the system</p>
    </div>
    
    <div class="d-flex">
    
      <div class="search_bar me-3">
  
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search Person" aria-label="Search Person" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
        </div>
    
      </div>
    
      <div class="add_user_btn">
        <div class="btn btn-primary"> Add Person </div>
      </div>
    
    </div>
  
  </div>

  <div class = "container mt-5">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Identity card</th>
          <th scope="col">Full name</th>
          <th scope="col">Sex</th>
          <th scope="col">Birthdate</th>
          <th scope="col">Age</th>
          <th scope="col">Occupation</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">97091906105</th>
          <td>Lianet Cobas Jerez</td>
          <td>Femenino</td>
          <td>11 - Ene - 1995</td>
          <td>27</td>
          <td>Professional trader</td>
          <td>
            
            <button type="button" class="btn btn-outline-primary btn-sm me-3">Details</button>
            
            <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
          
          </td>
        </tr>
        <tr>
          <th scope="row">97091906105</th>
          <td>Raul Garcia Fernandez</td>
          <td>Masculino</td>
          <td>19 - Sep - 1997</td>
          <td>25</td>
          <td>Senior programmer</td>
          <td>
            
            <button type="button" class="btn btn-outline-primary btn-sm me-3">Details</button>
            
            <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
          
          </td>
        </tr>
        <tr>
          <th scope="row">97091906105</th>
          <td>Leonardo Garcia Arredondo</td>
          <td>Masculino</td>
          <td>19 - Sep - 1997</td>
          <td>25</td>
          <td>Senior programmer</td>
          <td>
            
            <button type="button" class="btn btn-outline-primary btn-sm me-3">Details</button>
            
            <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
          
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>