<div class="container">
  <div class="navigation">

    <ul>

        <li>
          <a routerLink = "/dashboard">
            <span class="icon"> <i class="bi bi-apple"></i> </span>
            <span class="title">Consultorios App</span>
          </a>
        </li>

      <ng-container *ngIf="autenticated$ | async">
        <li>
          <a routerLink = "/dashboard">
            <span class="icon"> <i class="bi bi-house"></i> </span>
            <span class="title">Dashboard</span>
          </a>
        </li>

        <li>
          <a routerLink = "/dashboard/medical-staff">
            <span class="icon"> <i class="bi bi-capsule"></i> </span>
            <span class="title">Medical staff</span>
          </a>
        </li>

        <li>
          <a routerLink = "/dashboard/town-houses">
            <span class="icon"> <i class="bi bi-houses"></i> </span>
            <span class="title">Town houses</span>
          </a>
        </li>

        <li>
          <a routerLink = "/dashboard/settings">
            <span class="icon"> <i class="bi bi-gear"></i> </span>
            <span class="title">Settings</span>
          </a>
        </li>

        <li>
          <a routerLink = "/dashboard/help-comp">
            <span class="icon"> <i class="bi bi-info-circle"></i> </span>
            <span class="title">Help</span>
          </a>
        </li>
      </ng-container>

      <li>
        <a routerLink = "/auth/signin">
          <span class="icon"> <i class="bi bi-door-open"></i> </span>
          <span class="title">Sign Up</span>
        </a>
      </li>

    </ul>

  </div>

</div>
