<div>

  <div class="main_container d-flex justify-content-between mt-5">
  
    <div class="only_title">
      <h2 class="main_title">Person management</h2>
      <p>Control of all person registered in the system</p>
    </div>
    
    <div class="d-flex">
    
      <div class="search_bar me-3">
  
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search Person" aria-label="Search Person" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
        </div>
    
      </div>
          
      <div class="add_user_btn">
        <div class="btn btn-primary"
          [routerLink] = "['/person/create']"> 
          <i class="bi bi-person-plus"></i>
          Add Person </div>
      </div>
    
    </div>
  
  </div>

  <div class = "container mt-5">

    <table class="table table-striped" *ngIf = "person_list.length !== 0">
      <thead>
        <tr>
          <th scope="col">Identity card</th>
          <th scope="col">Full name</th>
          <th scope="col">Sex</th>
          <th scope="col">Birthdate</th>
          <th scope="col">Age</th>
          <th scope="col">Occupation</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor = "let person of person_list" >
          <th scope="row">{{ person.ci }}</th>
          <td>{{ person.name }}</td>
          <td>{{ person.sex }}</td>
          <td>{{ person.birthdate }}</td>
          <td>{{ person.age }}</td>
          <td>{{ person.occupation }}</td>
          <td>
            
            <button type="button" class="btn btn-outline-primary btn-sm me-3"
              [routerLink] = "['/person/details', person.ci]" >
                Details</button>
            
            <button type="button" class="btn btn-outline-danger btn-sm"
              (click) = "deleteOnePerson(person)"
                >Delete</button>
          
          </td>
        </tr>
        
      </tbody>
    </table>

  </div>

</div>