@import "assets/styles/DosisFont.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
small,
input,
span,
input::placeholder,
label,
p {
    font-family: 'Dosis','sans-serif';
    font-size: larger;
}
